footer(data-block="footer").footer.container
  h2 Do you have any questions?
  h4 Leave a request and our manager will contact you
  .flex.jc-between.lg-flex-column-up
    form.form.footer-form
      .form__contact.flex.wrap 
        .contact
          p Surname Name
          input(type="text", class="name", name="name")
        .contact
          p Phone number
          input(type="text", class="phone", name="phone" pattern="\+\d{2} \(\d{3}\) \d{3} \d{2} \d{2}" id='phone')
        .contact-wide
          p Message:
          textarea(class='comment')
        .form__submit.flex-md.ai-center.jc-evenly
          button.btn.btn--blue.send-form(type="submit") Submit
          p *By clicking the ‘Submit’ button, you automatically consent to the collection and processing of personal data 
    .contacts
      a.contacts__btn.btn.btn--blue(href="tel:+4474888545") +44 74 888 18 545
      a.contacts__btn.btn.btn--blue(href="tel:+380688818245") +380 68 881 82 45
      a.contacts__btn.btn.btn--blue(href="mailto:brostltd@gmail.com") brostltd@gmail.com
script(src="js/swiper.js" async)
script(src="js/axios.js" async)
script(src="js/intlTelInput.js" async)
script(src="js/imask.js" async)
script(src="js/main.js" defer)

//- script(src="https://cdn.jsdelivr.net/npm/intl-tel-input@21.2.6/build/js/intlTelInput.min.js")
//- script.
  //- const input = document.querySelector("#phone");
  //- let iti = window.intlTelInput(input, {
  //-   initialCountry: "auto",
  //-   useFullscreenPopup: false,
  //-   geoIpLookup: callback => {
  //-   fetch("https://ipapi.co/json")
  //-     .then(res => res.json())
  //-     .then(data => callback(data.country_code))
  //-     .catch(() => callback("us"));
  //- },
  //-   utilsScript: "https://cdn.jsdelivr.net/npm/intl-tel-input@21.2.6/build/js/utils.js",
  //- });
  //- let btn = document.querySelector('.btn');
  //- btn.addEventListener('click', function(){
  //-   console.log(iti.isValidNumberPrecise());
  //- })
//- script.
//-   (g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})
//-     ({key: "AIzaSyCY46nrv5pVNPlDX4B2RcVj3aGC1vpxCcg", v: "beta"});