-
  var services = [
    //1 NEW TAB Приточно-витяжна вентиляція
    {
      tab_title: 'Приточно-витяжна вентиляція',
      tab_head: 'Диспетчеризація приточно-витяжної вентиляції',
      tab_class: 'active',
      functions: [
        {
          title: 'Візуальне відображення технологічного процесу',
          text: 'Ми надаємо зручний інтерфейс для наочного відстеження та аналізу різних аспектів технологічного процесу. Клієнти можуть спостерігати за параметрами, станом обладнання та ефективністю в реальному часі.',
        },
        {
          title: 'Оперативна зміна технологічних параметрів, режимів роботи, обладнання',
          text: 'Ми надаємо можливість оперативно змінювати параметри та режими роботи системи в залежності від змінних умов виробництва або інших факторів. Це дозволяє оптимізувати роботу системи для досягнення найкращої продуктивності.',
        },
        {
          title: 'Дистанційний моніторинг і контроль роботи систем',
          text: 'Наші системи забезпечують віддалений контроль, відстеження та управління роботою інженерних систем з будь-якого місця. Це дозволяє оперативно реагувати на зміни та регулювати параметри через наші платформи.',
        },
        {
          title: 'Оперативне повідомлення про аварійні стани та вихід за межі технологічного регламенту роботи',
          text: 'Наші системи миттєво сповіщають про будь-які аварійні ситуації або відхилення від нормального режиму роботи. Це дозволяє оперативно реагувати на проблеми та забезпечує безперебійну роботу',
        },
        {
          title: 'Робота за розкладом',
          text: 'Ми гарантуємо точне дотримання графіка роботи систем, що сприяє плануванню виробничих процесів та оптимізації використання ресурсів.',
        },
        {
          title: 'Ведення журналу історії роботи з фіксацією подій',
          text: 'Ми гарантуємо точне дотримання графіка роботи систем, що дозволяє планувати виробничі процеси та оптимізувати використання ресурсів.',
        }
      ],
      errors: [
        {
          title: 'Аварія загрози замерзання теплообмінника/ перегрів електрокалорифера',
          text: 'Наші системи миттєво реагують на будь-які відхилення температури, що може призвести до замерзання теплообмінника або перегріву електрокалорифера. Ми автоматично вимикаємо або регулюємо обладнання, щоб уникнути аварійних ситуацій.',
        },
        {
          title: 'Аварійний стан приточного/витяжного вентилятора по перепаду тиску',
          text: 'Наші системи наглядають за роботою вентиляторів та виявляють будь-які відхилення у тиску. У разі виявлення аварійного стану ми автоматично вимикаємо вентилятори та надсилаємо повідомлення для подальшої діагностики та виправлення проблеми.',
        },
        {
          title: 'Аварія забивки приточного/витяжного фільтру',
          text: 'Наші системи контролюють стан фільтрів інженерних систем і виявляють будь-які забивки. У випадку виявлення проблеми ми надсилаємо повідомлення та можемо автоматично запустити процес очищення або заміни фільтру.',
        },
        {
          title: 'Попередження про вихід за межі діапазону регулювання',
          text: 'Наші системи надійно контролюють параметри інженерних систем та виявляють будь-які відхилення від заданих значень. У випадку виявлення виходу за межі діапазону регулювання, ми негайно сповіщаємо про це та автоматично вживаємо необхідні заходи для стабілізації ситуації.',
        }
      ]
    },
    //2 NEW TAB Локально витяжні вентилятори
    {
      tab_title: 'Локально витяжні вентилятори',
      tab_head: 'Диспетчеризація роботи локально витяжних вентиляторів',
      functions: [
        {
          title: 'Візуальне відображення технологічного процесу',
          text: 'Ми забезпечуємо інтерфейс, який дозволяє користувачам відслідковувати роботу локальних витяжних вентиляторів та їх вплив на технологічний процес.',
        },
        {
          title: 'Оперативне повідомлення про аварійні стани',
          text: 'Система автоматично сповіщає про будь-які аварійні стани або незвичайні відхилення в роботі вентиляторів.',
        },
        {
          title: 'Дистанційний моніторинг і контроль роботи вентиляторів',
          text: 'Наша система дозволяє віддалено контролювати стан, ефективність та керувати роботою витяжних вентиляторів з будь-якого місця. Користувачі можуть віддалено вмикати, вимикати та регулювати параметри роботи локальних витяжних вентиляторів через нашу платформу.',
        },
        {
          title: 'Ведення журналу історії роботи з фіксацією подій',
          text: 'Система веде детальний журнал роботи вентиляторів з фіксацією подій, що дозволяє відстежувати їх роботу та виявляти можливі проблеми',
        },
        {
          title: 'Робота за розкладом',
          text: 'Ми гарантуємо виконання роботи вентиляторів згідно з заданим графіком, що допомагає оптимізувати ефективність їх використання',
        },
        {
          title: 'Економічне використання енергоресурсів',
          text: 'Ми забезпечуємо оптимальне використання електроенергії за рахунок роботи вентиляторів згідно з розкладом, що допомагає знизити витрати енергії.',
        }
      ],
      errors: [
        {
          title: 'Моніторинг роботи вентиляційного обладнання',
          text: 'Наша система постійно контролює стан витяжних вентиляторів, фільтрів та інших компонентів. Якщо виявляється будь-яке неправильне функціонування або відхилення від норми, система негайно сповіщає операторів про це.',
        },
        {
          title: 'Автоматичне виявлення аварійних станів',
          text: 'Наші системи обладнання автоматично виявляють можливі аварійні ситуації, такі як перевантаження вентиляторів або забиття фільтрів. Це дозволяє операторам оперативно реагувати та вживати необхідні заходи для усунення проблеми',
        },
        {
          title: 'Інформування про стан обладнання',
          text: 'Крім виявлення несправностей, наша система надає детальну інформацію про стан обладнання, включаючи історію роботи та попередження про потенційні проблеми. Це дозволяє операторам проводити профілактичні заходи та запобігати виникненню серйозних поломок',
        }
      ]
    },
    //3 NEW TAB Системи кондиціювання (Кондиціонери VRV/VRF, фанкойли)
    {
      tab_title: 'Системи кондиціювання (Кондиціонери VRV/VRF, фанкойли)',
      tab_head: 'Диспетчеризація роботи системи кондиціювання (Кондиціонери VRV/VRF, фанкойли)',
      functions: [
        {
          title: 'Візуальне відображення технологічного процесу',
          text: 'Ми надаємо можливість візуального відображення технологічного процесу роботи системи кондиціювання, що дозволяє операторам з легкістю відстежувати стан та ефективність роботи обладнання.',
        },
        {
          title: 'Оперативна зміна технологічних параметрів та уставок',
          text: 'Наша система забезпечує можливість оперативної зміни технологічних параметрів та уставок систем кондиціювання в разі потреби, що дозволяє швидко адаптувати їх до змінних умов роботи.',
        },
        {
          title: 'Робота за розкладом',
          text: 'Наша система забезпечує роботу систем кондиціювання відповідно до заданого розкладу, що дозволяє ефективно використовувати ресурси та забезпечує комфортні умови в приміщеннях у визначені години.',
        },
        {
          title: 'Повідомлення про аварійні стани регламенту роботи',
          text: 'Ми забезпечуємо оперативне повідомлення про будь-які аварійні стани або вихід за межі технологічного регламенту роботи систем кондиціювання для оперативного реагування та усунення проблем',
        },
        {
          title: 'Дистанційний моніторинг і контроль роботи систем',
          text: 'Наша система дозволяє віддалено моніторити та керувати роботою систем кондиціювання з будь-якого місця, забезпечуючи операторам оперативний доступ до важливої інформації та керування параметрами та режимами роботи.',
        },
        {
          title: 'Ведення журналу історії роботи з фіксацією подій',
          text: 'Ми забезпечуємо ведення журналу історії роботи систем кондиціювання з фіксацією всіх важливих подій та змін у роботі обладнання для подальшого аналізу та вдосконалення',
        }
      ],
      errors: [
        {
          title: 'Аварія забивки фільтру',
          text: "Наша система виявляє аварійні стани, пов'язані з забивкою фільтрів, та надає операторам повідомлення для негайного вжиття заходів щодо їх очищення або заміни, що допомагає уникнути зниження ефективності систем кондиціювання та забезпечити здорові умови в приміщеннях.",
        },
        {
          title: 'Попередження про вихід за межі діапазону регулювання',
          text: 'Наша система виявляє будь-які несправності в роботі окремих груп освітлення, такі як відмова ламп, проблеми з електричною мережею тощо, та негайно повідомляє про них. Це дозволяє швидко реагувати та усувати проблеми для забезпечення безперебійної роботи освітлення',
        },
        {
          title: 'Коди штатної помилки та необхідність обслуговування (для кондиціонерів)',
          text: 'Наша система автоматично генерує коди штатної помилки та повідомляє про необхідність обслуговування для кондиціонерів, що дозволяє операторам своєчасно проводити профілактичні заходи та уникнути серйозних проблем у майбутньому.',
        }
      ]
    },
    //4 NEW TAB Системи холодопостачання /холодорозподільної системи
    {
      tab_title: 'Системи холодопостачання /холодорозподільної системи',
      tab_head: 'Диспетчеризація роботи чілера/холодомашин. Системи холодопостачання/холодорозподільної системи',
      functions: [
        {
          title: 'Візуальне відображення технологічного процесу',
          text: 'Ми забезпечуємо можливість візуального відображення технологічного процесу роботи чілера або холодомашини та системи холодопостачання/холодорозподільної системи, що дозволяє операторам ефективно контролювати їх стан та роботу.',
        },
        {
          title: 'Дистанційний моніторинг роботи системи',
          text: 'Наша система забезпечує можливість дистанційного моніторингу роботи чілера або холодомашини та системи холодопостачання/холодорозподільної системи, що дозволяє операторам в реальному часі контролювати їх функціонування',
        },
        {
          title: 'Дистанційний контроль роботи системи',
          text: 'Ми надаємо можливість дистанційного керування роботою чілера або холодомашини та системи холодопостачання/холодорозподільної системи, включаючи вмикання, вимикання та регулювання параметрів, що дозволяє операторам ефективно управляти ними',
        },
        {
          title: 'Оперативна зміна технологічних параметрів та уставок',
          text: 'Наша система дозволяє оперативно змінювати технологічні параметри та уставки роботи системи залежно від потреб, що дозволяє адаптувати їх до змінних умов експлуатації.',
        },
        {
          title: 'Оперативне повідомлення про аварійні стани',
          text: 'Ми забезпечуємо оперативне повідомлення про будь-які аварійні стани або вихід за межі технологічного регламенту роботи системи для швидкого реагування та усунення проблем.',
        }
      ],
      errors: [
        {
          title: 'Аварія насосів циркуляції',
          text: "Наша система виявляє аварійні стани, пов'язані з несправністю або відмовою насосів циркуляції, та надає операторам повідомлення для негайного вжиття заходів для їх відновлення або заміни",
        },
        {
          title: 'Аварія втрати тиску в системі',
          text: 'Ми автоматично виявляємо випадки втрати тиску в системі холодопостачання/холодорозподільної системи та надаємо відповідні повідомлення, що дозволяє операторам швидко вжити заходів для відновлення тиску та уникнути перерв у роботі системи.',
        },
        {
          title: 'Попередження про вихід за межі діапазону регулювання',
          text: 'Наша система автоматично сповіщає про будь-які випадки виходу параметрів роботи системи за допустимі межі, що дозволяє операторам оперативно вжити заходів для корекції роботи та запобігти серйозним поломкам',
        },
        {
          title: 'Вивід штатних аварій холодогенератору',
          text: 'Наша система надає повідомлення про штатні аварійні стани чілера або холодомашини, такі як перегрів або низький рівень охолодження, що дозволяє операторам оперативно реагувати та запобігати подальшим проблемам з обладнанням',
        }
      ]
    },
    //5 NEW TAB Теплові завіси
    {
      tab_title: 'Теплові завіси',
      tab_head: 'Диспетчеризація роботи теплових завіс',
      functions: [
        {
          title: 'Візуальне відображення технологічного процесу',
          text: 'Ми забезпечуємо можливість візуального відображення технологічного процесу роботи теплових завіс, що дозволяє операторам спостерігати за їхньою діяльністю та вчасно виявляти будь-які аномалії.',
        },
        {
          title: 'Дистанційний моніторинг і контроль роботи завіс',
          text: 'Наша система забезпечує можливість дистанційного моніторингу та контролю теплових завіс. Оператори можуть в реальному часі контролювати їх ефективність та функціонування, а також віддалено керувати ними та реагувати на зміни та потреби.',
        },
        {
          title: 'Оперативна зміна технологічних параметрів, режимів роботи, уставок',
          text: 'Наша система надає можливість оперативно змінювати технологічні параметри, режими роботи та уставки теплових завіс, що дозволяє швидко адаптувати їх до змінних умов.',
        },
        {
          title: 'Оперативне повідомлення про аварійні стани',
          text: 'Ми забезпечуємо оперативне повідомлення про будь-які аварійні стани та виходи за межі технологічного регламенту роботи теплових завіс, що дозволяє операторам негайно реагувати на проблеми та уникати серйозних наслідків.',
        }
      ],
      errors: [
        {
          title: 'Аварія перегріву теплових завіс',
          text: 'Наша система виявляє аварійний стан перегріву теплових завіс та надає операторам відповідне повідомлення, щоб вони могли вжити заходів для охолодження та уникнення подальших пошкоджень',
        },
        {
          title: "Втрата зв'язку з тепловими завісами",
          text: "Ми виявляємо випадки втрати зв'язку з тепловими завісами та надаємо операторам повідомлення для відновлення зв'язку та забезпечення безперервної роботи системи",
        },
        {
          title: "Недостатній тиск чи об'єм гарячого повітря",
          text: "Система виявляє помилку у випадку недостатнього тиску або об'єму гарячого повітря, що подається тепловими завісами, і відразу ж повідомляє операторам для подальшого вжиття заходів",
        },
        {
          title: 'Перевищення допустимих значень енергоспоживання',
          text: 'Ми виявляємо аварійний стан, якщо спостерігається перевищення допустимих значень енергоспоживання тепловими завісами, та надаємо операторам інформацію для коригування роботи системи',
        }
      ]
    },
    //6 NEW TAB Індивідуальні теплові пункти /теплорозподільні системи
    {
      tab_title: 'Індивідуальні теплові пункти /теплорозподільні системи',
      tab_head: 'Диспетчеризація роботи індивідуального теплового пункту/теплорозподільної системи',
      functions: [
        {
          title: 'Візуальне відображення технологічного процесу',
          text: 'Ми забезпечуємо можливість візуального відображення технологічного процесу роботи індивідуального теплового пункту або теплорозподільної системи, що дозволяє операторам ефективно контролювати їх стан та роботу.',
        },
        {
          title: 'Оперативна зміна технологічних параметрів та установок',
          text: 'Наша система забезпечує можливість оперативної зміни технологічних параметрів та уставок систем кондиціювання в разі потреби, що дозволяє швидко адаптувати їх до змінних умов роботи.',
        },
        {
          title: 'Дистанційний моніторинг і контроль роботи систем',
          text: 'Наша система забезпечує дистанційний моніторинг та керування роботою індивідуального теплового пункту або теплорозподільної системи. Оператори можуть контролювати їх функціонування в реальному часі, включаючи вмикання, вимикання та регулювання параметрів для ефективного управління.',
        },
        {
          title: 'Оперативне повідомлення про аварійні стани',
          text: 'Ми забезпечуємо оперативне повідомлення про будь-які аварійні стани або вихід за межі технологічного регламенту роботи системи для швидкого реагування та усунення проблем',
        },
        {
          title: 'Робота за розкладом',
          text: 'Наша система забезпечує роботу індивідуального теплового пункту або теплорозподільної системи відповідно до заданого розкладу, що дозволяє ефективно використовувати ресурси та забезпечує комфортні умови в приміщеннях у визначені години.',
        }
      ],
      errors: [
        {
          title: 'Аварія насосів циркуляції',
          text: "Наша система виявляє аварійні стани, пов'язані з несправністю або відмовою насосів циркуляції, та надає операторам повідомлення для негайного вжиття заходів для їх відновлення або заміни",
        },
        {
          title: 'Аварія втрати тиску в системі',
          text: 'Ми автоматично виявляємо випадки втрати тиску в теплорозподільній системі та надаємо відповідні повідомлення, що дозволяє операторам швидко вжити заходів для відновлення тиску та уникнути перерв у роботі системи.',
        },
        {
          title: 'Попередження про вихід за межі діапазону регулювання',
          text: 'Наша система автоматично сповіщає про будь-які випадки виходу параметрів роботи системи за допустимі межі, що дозволяє операторам оперативно вжити заходів для корекції роботи та запобігти серйозним поломкам',
        },
        {
          title: 'Збереження обладнання у випадку критичних та аварійних ситуацій',
          text: 'В разі виникнення критичних або аварійних ситуацій наша система автоматично виконує заходи для збереження обладнання, включаючи вимкнення або обмеження роботи, що дозволяє запобігти серйозним пошкодженням та забезпечити його подальшу надійну роботу',
        }
      ]
    },
    //6!!! NEW TAB 
    {
      tab_title: 'Опалювальна система (радіатори, тепла підлога)',
      tab_head: 'Диспетчеризація опалювальної системи (радіатори, тепла підлога)',
      functions: [
        {
          title: 'Оперативний моніторинг температури',
          text: 'Ми забезпечуємо оперативний моніторинг температури в приміщеннях за допомогою сенсорів, встановлених на радіаторах та теплій підлозі, що дозволяє контролювати та коригувати температуру для забезпечення комфорту.',
        },
        {
          title: 'Регулювання режиму роботи системи опалення',
          text: 'Ми автоматично регулюємо роботу опалювальної системи відповідно до заданих параметрів і графіків, забезпечуючи оптимальний рівень тепла в приміщеннях при мінімальних енергетичних витратах.',
        },
        {
          title: 'Формування звітів по споживанню тепла',
          text: 'Ми автоматично формуємо звіти, які містять інформацію про спожите тепло за вибраний період, що дозволяє аналізувати ефективність використання системи опалення та планувати витрати.',
        },
        {
          title: 'Спрощення життя та оптимізація витрат',
          text: 'Надання інформації про роботу опалювальної системи у вигляді зрозумілих звітів допомагає управляти витратами та оптимізувати використання теплових ресурсів. Це дозволяє ефективніше розподіляти тепло, зменшувати витрати та підвищувати рівень комфорту для користувачів.',
        },
      ],
      errors: [
        {
          title: 'Перегрів або недогрів приміщень',
          text: "Ми виявляємо випадки перегріву або недогріву приміщень та автоматично коригуємо роботу системи опалення для підтримання оптимальної температури, що запобігає енерговитратам та дискомфорту.",
        },
        {
          title: 'Несправність сенсорів температури',
          text: 'Ми виявляємо несправності сенсорів температури та автоматично повідомляємо про необхідність їх обслуговування або заміни, що дозволяє уникнути неточностей у вимірах та забезпечити коректну роботу системи.',
        },
        {
          title: 'Порушення циркуляції теплоносія',
          text: 'Ми виявляємо порушення циркуляції теплоносія (завоздушеність, забруднення) та автоматично повідомляємо про це, щоб вжити заходів для їх усунення та забезпечення стабільної роботи системи.',
        },
        {
          title: 'Перевитрата енергії',
          text: ' Ми виявляємо перевитрати енергії внаслідок неправильного налаштування або несправностей системи та надаємо рекомендації для їх усунення, що дозволяє зменшити витрати на опалення.',
        }
      ]
    },


    //7 NEW TAB Насосні системи ГВС/ХВС
    {
      tab_title: 'Насосні системи ГВС/ХВС',
      tab_head: 'Диспетчеризація роботи насосної системи ГВС/ХВС',
      functions: [
        {
          title: 'Візуальне відображення технологічного процесу',
          text: 'Ми забезпечуємо можливість візуального перегляду роботи насосної системи ГВС/ХВС через диспетчерський інтерфейс, що дозволяє операторам з легкістю контролювати стан системи',
        },
        {
          title: 'Дистанційний моніторинг і контроль роботи систем',
          text: 'Наша система забезпечує можливість дистанційного моніторингу та контролю теплових завіс. Оператори можуть в реальному часі контролювати їх ефективність та функціонування, а також віддалено керувати ними та реагувати на зміни та потреби.',
        },
        {
          title: 'Оперативна зміна технологічних параметрів, режимів роботи, уставок',
          text: 'Ми забезпечуємо можливість оперативної зміни технологічних параметрів, режимів роботи та уставок насосної системи ГВС/ХВС з метою оптимізації його роботи',
        },
        {
          title: 'Оперативне повідомлення про аварійні стани',
          text: 'Ми забезпечуємо оперативне повідомлення про будь-які аварійні стани та виходи за межі технологічного регламенту роботи насосної системи ГВС/ХВС, щоб оператори могли негайно реагувати на них.',
        }
      ],
      errors: [
        {
          title: 'Аварія насосів циркуляції',
          text: 'Ми виявляємо аварійний стан насосів циркуляції та вживаємо заходів для їх швидкого відновлення або заміни, щоб забезпечити безперебійне функціонування системи.',
        },
        {
          title: 'Аварія втрати тиску в системі',
          text: 'Ми виявляємо аварійний стан втрати тиску в системі та автоматично ініціюємо процес виявлення та усунення причин цього стану, щоб забезпечити нормальний режим роботи',
        },
        {
          title: 'Попередження про вихід за межі діапазону регулювання',
          text: 'Ми виявляємо будь-які випадки виходу параметрів роботи насосної системи ГВС/ХВС за межі діапазону регулювання та негайно повідомляємо про це операторів для прийняття необхідних заходів.',
        },
        {
          title: 'Вивід штатних аварій насосної системи',
          text: 'Ми забезпечуємо вивід інформації про штатні аварійні стани насосної системи ГВС/ХВС, щоб оператори могли вчасно реагувати та уникнути негативних наслідків',
        }
      ]
    },
    //8 NEW TAB Системи освітлення
    {
      tab_title: 'Системи освітлення',
      tab_head: 'Диспетчеризація роботи системи освітлення',
      functions: [
        {
          title: 'Дистанційний моніторинг і контроль груп освітлення',
          text: 'Наша система надає можливість віддалено моніторити та керувати роботою різних груп освітлення з будь-якого місця. Це дозволяє операторам контролювати стан, ефективність, вмикання, вимикання та регулювання яскравості освітлення, забезпечуючи оптимальне освітлення приміщень згідно з потребами.',
        },
        {
          title: 'Робота за розкладом',
          text: 'Ми забезпечуємо роботу освітлення відповідно до заданого графіка, що дозволяє ефективно використовувати ресурси та забезпечує комфортне освітлення приміщень у визначені години',
        },
        {
          title: 'Робота за алгоритмом освітленості',
          text: 'Наша система працює згідно з алгоритмами, що враховують рівень природного світла та потреби користувачів, забезпечуючи оптимальне освітлення в приміщеннях за будь-яких умов',
        },
        {
          title: 'Економічне використання енергоресурсів',
          text: 'Ми раціонально використовуємо електроенергію за допомогою роботи освітлення за розкладом та використанням енергоефективних алгоритмів керування, що дозволяє знизити витрати енергії',
        }
      ],
      errors: [
        {
          title: 'Відхилення від графіка роботи',
          text: 'Наша система виявляє будь-які відхилення в роботі освітлення від заданого графіка та негайно повідомляє про це. Це дозволяє операторам вчасно вжити заходів для відновлення розкладу та уникнення невідповідностей',
        },
        {
          title: 'Несправності в групах освітлення',
          text: 'Наша система виявляє будь-які несправності в роботі окремих груп освітлення, такі як відмова ламп, проблеми з електричною мережею тощо, та негайно повідомляє про них. Це дозволяє швидко реагувати та усувати проблеми для забезпечення безперебійної роботи освітлення',
        },
        {
          title: 'Виявлення енергозатрат',
          text: 'Наша система аналізує споживання енергії кожною групою освітлення та виявляє можливі надмірні витрати. Це дозволяє ідентифікувати потенційні джерела енерговитрат та вживати заходів для їх зниження, що сприяє економії електроенергії.',
        },
        {
          title: 'Попередження про низький рівень освітленості',
          text: 'Наша система автоматично виявляє низький рівень освітленості в приміщеннях та сповіщає операторів. Це дозволяє швидко реагувати та забезпечити належний комфорт та безпеку для користувачів приміщення.',
        }
      ]
    },
    //9 NEW TAB Система технічного енергообліку
    {
      tab_title: 'Система технічного енергообліку',
      tab_head: 'Диспетчерезація системи технічного енергообліку',
      functions: [
        {
          title: 'Оперативний збір показів лічильників на об’єкті',
          text: 'Ми забезпечуємо оперативний збір показів лічильників електроенергії, води, газу та інших ресурсів на об’єкті для моніторингу їх споживання',
        },
        {
          title: 'Формування звіту по використаним ресурсам за вибраний період',
          text: 'Ми автоматично формуємо звіти, які містять інформацію про використані ресурси (електроенергія, вода, газ тощо) за вибраний період, що дозволяє здійснювати аналіз та планування споживання',
        },
        {
          title: 'Ведення журналу історії',
          text: 'Ми ведемо журнал історії роботи системи технічного енергообліку, фіксуючи всі події та зміни у використанні ресурсів для подальшого аналізу та контролю',
        },
        {
          title: 'Спрощення життя та оптимізація витрат',
          text: 'Надання інформації про ресурси та їх використання у вигляді зрозумілих звітів допомагає управляти витратами та оптимізувати їх використання. Це дозволяє ефективніше розподіляти ресурси, зменшувати витрати та підвищувати рівень комфорту для користувачів',
        }
      ],
      errors: [
        {
          title: 'Відсутність показів лічильників',
          text: 'Ми виявляємо відсутність показів лічильників та автоматично повідомляємо про це, щоб вжити заходів для їх відновлення та забезпечення надійного збору даних.',
        },
        {
          title: 'Несправність лічильників',
          text: 'Ми виявляємо несправності лічильників та автоматично ініціюємо їх обслуговування або заміну, щоб уникнути неточностей у вимірах та забезпечити точність обліку ресурсів',
        }
      ]
    },
    //10 NEW TAB Екскалатори та ліфти
    {
      tab_title: 'Екскалатори та ліфти',
      tab_head: 'Диспетчеризація екскалаторів та ліфтів',
      functions: [
        {
          title: 'Моніторинг та управління роботою ескалаторів та ліфтів',
          text: 'Забезпечення постійного моніторингу роботи ескалаторів та ліфтів для виявлення будь-яких відхилень в роботі та оперативного реагування на них.',
        },
        {
          title: 'Планування технічного обслуговування',
          text: 'Аналіз даних про стан ескалаторів та ліфтів дозволяє планувати технічне обслуговування та профілактичні заходи для забезпечення їх надійної та безперебійної роботи',
        },
        {
          title: 'Автоматичне виявлення несправностей',
          text: 'Система автоматично виявляє можливі несправності в роботі ескалаторів та ліфтів, такі як зупинки, затримки або відхилення від звичайного режиму роботи.',
        },
        {
          title: 'Збереження даних про експлуатацію',
          text: 'Ведення журналу історії роботи ескалаторів та ліфтів з фіксацією всіх подій та обслуговування допомагає здійснювати аналіз та планування робіт щодо їх обслуговування та модернізації.',
        }
      ],
      errors: [
        {
          title: 'Виявлення несправностей в роботі ескалаторів та ліфтів',
          text: 'Система виявляє несправності, такі як зупинки, затримки або працездатність під час їх роботи та повідомляє про них операторам для подальшого втручання.',
        },
        {
          title: 'Контроль за станом обладнання',
          text: 'Моніторинг параметрів роботи ескалаторів та ліфтів дозволяє вчасно виявляти ознаки зносу, недоліків або потенційних проблем та запобігати аварійним ситуаціям',
        },
        {
          title: 'Оперативна реакція на аварійні ситуації',
          text: 'Система надає оперативне повідомлення про будь-які аварійні стани або несправності в роботі ескалаторів та ліфтів, що дозволяє операторам швидко реагувати та усувати проблеми.',
        },
        {
          title: 'Запобігання несправностям та аваріям',
          text: 'Шляхом постійного моніторингу та планування технічного обслуговування ми попереджаємо можливі несправності та аварійні ситуації, що дозволяє підтримувати безперебійну роботу ескалаторів та ліфтів.',
        }
      ]
    },
    //11 NEW TAB Системи «загальних замірів» 
    {
      tab_title: 'Системи «загальних замірів» ',
      tab_head: 'Диспетчеризація системи «загальних замірів»',
      functions: [
        {
          title: 'Візуальне відображення технологічного процесу',
          text: 'Ми забезпечуємо візуальне відображення роботи системи загальних замірів, що дозволяє операторам в реальному часі бачити стан системи та її компонентів.',
        },
        {
          title: 'Дистанційний моніторинг і контроль роботи систем',
          text: 'Ми здійснюємо дистанційний моніторинг параметрів роботи системи, таких як температура, вологість та стан датчиків протікання води, для вчасного виявлення будь-яких аномалій',
        },
        {
          title: 'Оперативне повідомлення про аварійні стани',
          text: 'Ми автоматично надсилаємо операторам оперативне повідомлення у випадку виявлення аварійних станів або виходу параметрів за межі технологічного регламенту роботи',
        },
        {
          title: 'Ведення журналу історії роботи',
          text: 'Ми ведемо журнал історії роботи системи з фіксацією подій, що дозволяє проводити аналіз ефективності та вчасно виявляти потенційні проблеми',
        }
      ],
      errors: [
        {
          title: 'Спрацювання датчиків антизатоплення',
          text: 'Ми виявляємо спрацювання датчиків протікання води та негайно повідомляємо про це, щоб запобігти можливим затопленням та матеріальним збиткам',
        },
        {
          title: 'Підйом температури в пріоритетному приміщенні',
          text: 'Ми виявляємо підйом температури в пріоритетних приміщеннях, таких як серверна або щитова, і автоматично вживаємо заходів для зниження температури та запобігання можливим перегрівам обладнання',
        }
      ]
    },
    //12 NEW TAB Системи електропостачання
    {
      tab_title: 'Системи електропостачання',
      tab_head: 'Диспетчеризація роботи системи електропостачання',
      functions: [
        {
          title: 'Візуальне відображення схеми електропостачання',
          text: 'Ми надаємо можливість візуального відображення схеми електропостачання, що дозволяє операторам швидко оцінити стан системи та виявити можливі проблеми.',
        },
        {
          title: 'Дистанційний моніторинг роботи системи',
          text: 'Наша система забезпечує можливість дистанційного моніторингу роботи системи електропостачання, що дозволяє операторам в реальному часі контролювати її стан та ефективно реагувати на зміни.',
        },
        {
          title: 'Оперативне повідомлення про аварійні стани',
          text: 'Ми забезпечуємо оперативне повідомлення про будь-які аварійні стани у системі електропостачання, що дозволяє операторам негайно реагувати та усувати проблеми',
        },
        {
          title: 'Ведення журналу історії роботи з фіксацією подій',
          text: 'Наша система автоматично веде журнал історії роботи з фіксацією подій, що дозволяє зберігати детальну інформацію про всі зміни та події, що відбуваються у системі.',
        }
      ],
      errors: [
        {
          title: 'Аварія перенавантаження системи електропостачання',
          text: "Наша система виявляє аварійні стани, пов'язані з перенавантаженням системи електропостачання, та надає операторам повідомлення для вжиття заходів для уникнення перегрузки та збереження нормального режиму роботи",
        },
        {
          title: 'Аварія спрацювання ввідних фідерів',
          text: "Ми автоматично виявляємо аварійні стани, пов'язані із спрацюванням ввідних фідерів системи електропостачання, і надаємо операторам повідомлення для швидкого вжиття заходів для їх відновлення.",
        },
        {
          title: 'Фіксація стрибків напруги в системі електропостачання',
          text: 'Наша система виявляє стрибки напруги в системі електропостачання та надає операторам відповідні повідомлення для уникнення можливих пошкоджень обладнання та забезпечення стабільної роботи системи.',
        },
      ]
    }
  ]

section(data-block="services").services 
    h2 Наші перевірені часом рішення автоматизації будівель
    .services__tabs.container
      .tab.tab-mobile.flex.ai-center
        .hamburger.service-hamburger
          span
          span
          span
        p.tab-mobile__title Приточно-витяжна вентиляція
      ul.services__tab-list 
        for tabs in services 
          li.tab.flex.ai-center.md-jc-center-down(class=tabs.tab_class)= tabs.tab_title
    .services__items.container
      for service in services
        .service(class=service.tab_class)
          h3.service__title= service.tab_head
          .service__items
            .items
              .functions
                h4 функції, які ми виконуємо:
                .item.container.md-flex-down.wrap
                  for func in service.functions
                    .function
                      h5.function__title.flex.ai-center.jc-center= func.title
                      .function__text
                        p= func.text
              .errors 
                h4 Помилки, які ми виявляємо та аварійні стани, якими ми запобігаємо
                .item.container.md-flex-down.wrap
                  for errors in service.errors 
                    .error
                      h5.error__title.flex.ai-center.jc-center= errors.title
                      .error__text
                        p= errors.text